<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">Sync calls using - Concat map Example</div>
                <div class="col-12"><app-concat-map-ex></app-concat-map-ex></div>
                <hr>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">Live Search Example - Using Switch Map</div>
                <div class="col-12"><app-live-search-ex></app-live-search-ex></div>
                <hr>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">Parallel Call Using - Fork Join Example</div>
                <div class="col-12"><app-fork-join-ex></app-fork-join-ex></div>
                <hr>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">Use Merge map - instead of retired flatMap</div>
                <div class="col-12"><app-flat-map-ex></app-flat-map-ex></div>
                <hr>
            </div>
        </div>
    </div>
</div>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
